.container
{
  height: auto;
  width: 700px;

}

.container .display-5 .font-weight-normal
{
  color: white;
}
/* .container .container .form-control
{
  margin-left: 10px;
  margin-right: 10PX;
  size: 10px;
} */

.form-control
{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
