<div *ngIf="project">
  <div class="card shadow p-3 mb-3 rounded" (click)="goToDetails(movie)">
<!--     <img
      class="card-img-top image"
      href="image"
      src="{{ movie.img_path }}"
      alt="Poster de la película {{ movie.name }}"
    /> -->
    <div class="card-body">
      <!-- <h5 class="card-title text-center">{{ movie.name }}</h5> -->
      <hr />
      <p class="card-text"><strong>Genero: </strong>hola {{project.nombre}} </p>
 <!--      <p class="card-text"><strong>Popularity: </strong> <em #voto> {{ movie.vote }}  </em></p>
      <p class="card-text"><strong>Release date: </strong> {{ movie.parsedDate }}</p> -->
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">
        Click on card to watch more details!
      </small>
    </div>
  </div>
</div>
