<div *ngIf="project">

  <div class="card shadow p-3 mb-3 rounded" (click)="goToDetails(project)">
  <img style=" width: 285px;"
      class="card-img-top image"
      href="image"
      src=".\assets\ProjectsCategories\{{project.tipo}}.png"
    />
    <div class="card-body">
      <h4 class="card-title text-center">{{project.nombre}} </h4>
      <p style="white-space:nowrap;text-overflow:ellipsis; overflow:hidden" class="card-text crop">{{ project.descripcion }}</p>
     <!--  <p class="card-text"><strong>Release date: </strong> {{ movie.parsedDate }}</p> -->
     <a style="color:white;" class="btn btn-primary stretched-link" *ngIf="tipo === 'Mis proyectos'" >Ver Proyecto</a>
     <a style="color:white;" class="btn btn-primary stretched-link" *ngIf="tipo === 'Todos los proyectos'" >Enviar solicitud</a>
    </div>
  </div>
</div>

