
.bottom-three {

    margin-bottom: 2cm;

  }

  .bottom-two {
    margin-top: 1cm;
   margin-bottom: 1cm;
  }


  .dropdown-menu {
    width: 92%;
  }

  .margen {
    margin-bottom: 2cm;
  }

  .btn {
  width: 100%;
  }

  .dropdown-item {
    text-align: center;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
  }

