<div *ngIf="comentario">
  <div class="container">
<li class="comment">
  <a class="pull-left" href="#">
      <img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg" alt="avatar">
  </a>
  <div class="comment-body">
      <div class="comment-heading">
          <h4 class="user pull-left">{{comentario.idComentarioConsulta}}</h4>
          <br>
          <h6 class="time pull-left"> {{comentario.fechaCreacion | date:'short'}}</h6>
      </div>
      <div class="text-left">
        <br>
        <p>{{comentario.descripcion}}</p>
      </div>
  </div>
</li>
</div>
</div>
