<div *ngIf="comentario" class="container">
  <div class="container bg-light" style="margin-bottom: 0.4cm;">
<li class="comment .col-xs-1">
  <a class="pull-left" href="#">
      <img class="avatar pull-left" src="{{comentario.pathUsuario}}" alt="avatar">

  </a>
  <div class="comment-body">
      <div class="comment-heading">
        <b> {{comentario.nombreUsuario}}</b>
            <h6 > {{comentario.fechaCreacion | date:'short'}}</h6>
            <h6 > {{comentario.descripcion}}</h6>

          <br>

      </div>
      <div>

        <p></p>
      </div>
  </div>
</li>
</div>
</div>
