<!-- <div class="col-md-4"> -->

  <div class="marginbottom">
  <div class="card text-center card-info">
      <div class="card-block">
        <br>
          <img src=".\assets\Avatar\gradu-6.jpg" alt="Avatar">
          <h4 class="card-title">{{usuario.nombre}}</h4>
          <h6> <div class="checkbox">
            <label>
              <input type="checkbox"   name="Admin"  [(ngModel)]="Admin" data-toggle="toggle">
              Admin
            </label>
          </div></h6>
      </div>
      <div class="row p-2 no-gutters">
          <div class="col-6">
              <div  (click)="aceptar()" class="card card-block text-info rounded-0 border-left-0 border-top-o border-bottom-0">
                  <h6 class="margen">Aceptar</h6>
              </div>
          </div>
          <div class="col-6">
              <div (click)="rechazar()" class="card card-block text-info rounded-0 border-right-0 border-top-o border-bottom-0">
                  <h6  class="margen">Rechazar</h6>

              </div>
          </div>
      </div>
  </div>
</div>
<!-- </div> -->
