.dropdown {
  text-align: center;
}

.bottom-three {
/*   background-image: url("src\Images\def-blog-4.jpg");
  background-size: cover;
  height:100%; */
  margin-bottom: 3cm;

}

.bottom-two {
  margin-top: 1cm;
 margin-bottom: 1cm;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 8px;
  color: white;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;


  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2), 0 20px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  background-color: #008CBA;
  color: white;
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

