
<div class="bottom-three">
<div class="container p-3 my-3 border" >
  <h1 class="text-center" >¡Hola Nico!</h1>
  <p class="text-center" style="font-size:25px;">Para comenzar, crea un proyecto y compartelo con un amigo</p>
  <hr>
  
</div>
</div>


<!-- ////////////////////////////////////////////////////////////////////// -->
<div *ngIf="ProjectsList.length" class="container mt-2">
  <h1 class="display-5 font-weight-normal" style="text-align: center;" href="#">Your Projects</h1>

  <div class="card-deck">
    <app-project
      *ngFor="let project of ProjectsList"
      [project]="project"
      class="col-4"
    ></app-project>
  </div>
</div>
<!-- Alert messages -->
<div *ngIf="!ProjectsList.length" class="container text-center">
  <div *ngIf="!ProjectsList.length" class="alert alert-primary" role="alert">
    No Projects Found!
  </div>
</div>
<div *ngIf="errorMessage" class="container text-center">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
