
<div class="bottom-three">
  <div class="container p-5 my-3 border" >
    <h1 class="text-center" >¡Hola Nico!</h1>
    <p class="text-center" style="font-size:25px;">Para comenzar, crea un proyecto y compartelo con un amigo</p>
    <hr>
    <div  class="bottom-two">
      <div class="center">
        <button class="button button2" (click)="goToCreateProject()">Crear</button>
      </div>
    </div>
  </div>
  <br>
</div>


<!-- ////////////////////////////////////////////////////////////////////// -->
<div class="container mt-2" >

<div class="container mt-2">
  <div class="col-md-4 mx-auto"  >
    <div class="form-group">
      <input
        (input)="searchProject(nameToSearch)"
        [(ngModel)]="nameToSearch"
        class="form-control"
        type="search"
        placeholder="Buscar un proyecto"
        aria-label="Search"
        autofocus
      />
    </div>
  </div>
</div>


<div class="container mt-2">
  <div class="dropdown col-md-4 mx-auto"  >
<!--     <h6 >Filtrar por</h6> -->
  <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Filtrado por: {{ActualDropDown}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item"  (click)="UpdateProyectosList('Mis proyectos')">Mis proyectos</a>
      <a class="dropdown-item"  (click)="UpdateProyectosList('Todos los proyectos')">Todos los proyectos</a>
    </div>
  </div>
</div>




  <br>






  <div *ngIf="!ProjectsListSearch.length" class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
<!-- ////////////////////////////////////////////////////////////////////// -->

<div *ngIf="ProjectsListSearch.length && ActualDropDown === 'Mis proyectos'" class="container mt-2">
 <!--  <h1 class="display-5 font-weight-normal" style="text-align: center;" href="#">{{ActualDropDown}}</h1> -->

  <div class="card-deck">
    <app-project
      *ngFor="let project of ProjectsListSearch"
      [project]="project"
      [tipo]="MisProyectos"
      class="col-4"
    ></app-project>
  </div>
</div>
<!-- Alert messages -->
<div *ngIf="!ProjectsListSearch.length  && ActualDropDown === 'Mis proyectos'" class="container text-center">
  <div *ngIf="!ProjectsListSearch.length   && ActualDropDown === 'Mis proyectos'" class="alert alert-primary" role="alert">
    No tienes proyectos creados!
  </div>
</div>
<div *ngIf="errorMessage" class="container text-center">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////// -->
<div *ngIf="AllProjectsListSearch.length && ActualDropDown === 'Todos los proyectos'" class="container mt-2">
  <!--  <h1 class="display-5 font-weight-normal" style="text-align: center;" href="#">{{ActualDropDown}}</h1> -->

   <div class="card-deck">
     <app-project
       *ngFor="let project of AllProjectsListSearch"
       [project]="project"
       [tipo]="TodosLosProyectos"
       class="col-4"
     ></app-project>
   </div>
 </div>
 <!-- Alert messages -->
 <div *ngIf="!AllProjectsListSearch.length  && ActualDropDown === 'Todos los proyectos'" class="container text-center">
   <div *ngIf="!AllProjectsListSearch.length   && ActualDropDown === 'Todos los proyectos'" class="alert alert-primary" role="alert">
     No hay proyectos creados!
   </div>
 </div>
 <div *ngIf="errorMessage" class="container text-center">
   <div class="alert alert-danger" role="alert">
     {{ errorMessage }}
   </div>
 </div>




</div>
