<div class="entero">
<div class="bottom-three">
  <div class="container p-5 my-3 border" >
    <h1 class="text-center" >Consultas</h1>
    <p class="text-center" style="font-size:25px;">Haz una consulta a tu equipo y nosotros les notificaremos</p>
    <hr>
    <div  class="bottom-two">
      <app-consulta-add (messageEvent)="receiveMessage($event)"></app-consulta-add>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////// -->
<div class="container mt-2">
  <div class="col-md-4 mx-auto"  >
    <div class="form-group">
      <input
        (input)="searchProject(nameToSearch)"
        [(ngModel)]="nameToSearch"
        class="form-control"
        type="search"
        placeholder="Buscar un proyecto"
        aria-label="Search"
        autofocus
      />
    </div>
  </div>
</div>


<div class="margen">
<div class="container mt-2">
  <div class="dropdown col-md-4 mx-auto"  >
<!--     <h6 >Filtrar por</h6> -->
  <button type="button"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Ordenar por: {{ActualDropDown}}
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item"  (click)="Ordenar('Mas votadas')">Mas votadas</a>
      <a class="dropdown-item"  (click)="Ordenar('Menos votadas')">Menos votadas</a>
      <a class="dropdown-item"  (click)="Ordenar('Mas antiguas')">Mas antiguas</a>
      <a class="dropdown-item"  (click)="Ordenar('Mas recientes')">Mas recientes</a>
    </div>
  </div>
</div>
</div>







  <div *ngIf="consultasListSearch.length" class="container mt-2">
  <div class="card-deck">
    <app-consulta
      *ngFor="let consulta of consultasListSearch"  (messageEvent)="receiveMessage($event)"
      [consulta]="consulta"
    ></app-consulta>
  </div>
  <hr> <hr> <hr>
</div>
<!-- Alert messages -->
<div *ngIf="!consultasListSearch.length" class="container text-center">
  <div *ngIf="!consultasListSearch.length" class="alert alert-primary" role="alert">
    No hay consultas
  </div>
</div>
<div *ngIf="errorMessage" class="container text-center">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>


</div>
