/* You can add global styles to this file, and also import other style files */
.big-banner
{

  background-image: url("src\Images\def-blog-4.jpg");
  background-size: cover;
  height:100%
}

input .ng-touched .ng-invalid {
  border-color: red;
}

input .ng-valid {
  border-color: green;
}


/* @media only screen and (max-width: 767px) {

  .big-banner
  {

    background-image: url("src\Images\lapicesypapel.jpg");
    background-size: cover;
  }
  }
 */
