<div *ngIf="consulta">

 <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
 <div class="container d-flex justify-content-center">
     <div class="col-sm-8 justify-content-center">
         <div class="panel panel-white post panel-shadow">
             <div class="post-heading">
                 <div class="pull-left image">
                     <img src="https://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                 </div>
                 <div class="pull-left meta">
                     <div class="title h5">
                         <a href="#"><b>{{consulta.asunto}}</b></a>

                     </div>
                     <h6 class="text-muted time">{{consulta.fechaCreacion | date:'short'}}</h6>
                 </div>
             </div>
             <div class="post-description">
                 <p>{{consulta.descripcion}}</p>
                 <div class="stats">
                     <a href="#" class="btn btn-default stat-item">
                         <i class="fa fa-thumbs-up icon"></i>2
                     </a>
                     <!-- aca estan los botones de me gusta y no me gusta, fijarme si los pongo o no despues -->
                     <a href="#" class="btn btn-default stat-item">
                         <i class="fa fa-share icon"></i>12
                     </a>
                 </div>
             </div>
             <div class="post-footer">
                 <div class="input-group">
                     <input class="form-control" placeholder="Add a comment" type="text">
                     <span class="input-group-addon">
                         <a href="#"><i class="fa fa-edit"></i></a>
                     </span>
                 </div>
                 <ul class="comments-list">

                  <!-- ////////////////////////////////////////////////////// -->

                  <button *ngIf="showButton" class="button button2" (click)="ShowComents(consulta.idConsulta)">
                    Ver Comentarios Consulta
                  </button>
<!--                   <button *ngIf="!showButton" class="button button2" (click)="HideComents(consulta.idConsulta)">
                    Ocultar Comentarios Consulta
                  </button> -->
                  <div *ngIf="comentariosList.length"  class="container mt-2">
                    <div  class="card-deck">
                      <app-comentario-consulta
                      *ngFor="let comentario of comentariosList"
                      [comentario]="comentario"
                      ></app-comentario-consulta>
                    </div>
                  </div>

                  <!-- Alert messages -->
<!--                   <div *ngIf="!comentariosList.length" class="container text-center">
                    <div *ngIf="!comentariosList.length" class="alert alert-primary" role="alert">
                      No Consultas Found!
                    </div>
                  </div> -->
                  <div *ngIf="errorMessage" class="container text-center">
                    <div class="alert alert-danger" role="alert">
                      {{ errorMessage }}
                    </div>
                  </div>
                  <!-- ////////////////////////////////////////////////////// -->

                 </ul>
             </div>
         </div>
     </div>
 </div>
</div>
 <br>
