<button class="button upload" (click)="goToConsultas(project)">
  CONSULTAS
</button>
<app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)"></app-upload>
<h2>File List</h2>
<p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
<hr>
<div class="container">
    <ul>
        <li *ngFor="let file of files">
            <a>
                {{file.nombreDocumento}}
                <app-download [disabled]="showProgress" [fileName]="file.nombreDocumento" [id]="file.idDocumento" (downloadStatus)="downloadStatus($event)"></app-download>
            </a>
        </li>
    </ul>
</div>



<!-- <div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div> -->


<!-- <div>

<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div> -->


