
<div class="bottom-three">
  <div class="container p-5 my-3 border" >
    <h1 class="text-center" >{{proyecto.nombre}}</h1>
    <p class="text-center" style="font-size:25px;">Aquí puedes subir archivos, organizarlos en carpetas y realizar consultas con todo tu equipo</p>
    <hr>
    <div  class="bottom-two">
      <div *ngIf="this.view === 'true' ||  this.userView === 'true'" >
        <app-carpetas-add (messageEvent)="receiveMessage($event)"></app-carpetas-add>
      </div>
      <div>
        <button class="buttonnn button2"  (click)="goToConsultas(project)">Consultas</button>
      </div>
      <div *ngIf="this.view === 'true' || this.userView === 'true'">
        <app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)"></app-upload>
      </div>
    </div>
  </div>
  <p *ngIf="showProgress" style="align-content: center;"> progress <strong>{{percentage}}%</strong></p>
</div>


<!-- /////////////////////////////////////////////////////////////// -->
<div class="container mt-2">
<h1 class="display-5 font-weight-normal" style="text-align: center;">Tu Workspace</h1>

<hr>

<div class="card-deck">
  <div *ngFor="let carpeta of carpetas"  class="col-3" >


  <div class="card shadow p-1 mb-3 rounded" (click)="goToDetailsCarpeta(carpeta)">
    <img
        class="card-img-top image"
        href="image"
        src=".\assets\ProjectsCategories\folder.PNG"
      />

        <h6 style="white-space:nowrap;text-overflow:ellipsis; overflow:hidden" class="card-text text-center crop">{{carpeta.nombre}}</h6>

    </div>
  </div>
</div>



<div class="card-deck">
<div *ngFor="let file of files" class="col-3">


  <div class="card shadow p-1 mb-3 rounded" (click)="goToDetailsFile(file)">
    <img *ngIf="file.pathDocumento === 'jpg' || file.pathDocumento === 'JPG'  || file.pathDocumento === 'png'  || file.pathDocumento === 'PNG'"
        class="card-img-top image"
        href="image"
        src=".\assets\ProjectsCategories\jpg.PNG"
      />
      <img *ngIf="file.pathDocumento === 'pdf' || file.pathDocumento === 'PDF'"
      class="card-img-top image"
      href="image"
      src=".\assets\ProjectsCategories\pdf.PNG"
    />
    <img *ngIf="file.pathDocumento === 'doc' || file.pathDocumento === 'docx' || file.pathDocumento === 'txt'"
    class="card-img-top image"
    href="image"
    src=".\assets\ProjectsCategories\doc.PNG"
  />
  <img *ngIf="file.pathDocumento === 'xls' || file.pathDocumento === 'xlsx' || file.pathDocumento === 'lsx'"
  class="card-img-top image"
  href="image"
  src=".\assets\ProjectsCategories\excel.PNG"
/>
      <div class="card-img-overlay">
        <app-download [disabled]="showProgress" [fileName]="file.nombreDocumento" [id]="file.idDocumento" (downloadStatus)="downloadStatus($event)"></app-download>
      </div>

        <h6 style="white-space:nowrap;text-overflow:ellipsis; overflow:hidden" class="card-text text-center crop">{{file.nombreDocumento}}</h6>

    </div>
  </div>
</div>

</div>





