
<div class="bottom-three">
  <div class="container p-5 my-3 border" >
    <h1 class="text-center" >{{proyecto.nombre}}</h1>
    <p class="text-center" style="font-size:25px;">Aquí puedes subir archivos, organizarlos en carpetas y realizar consultas con todo tu equipo</p>
    <hr>
    <div  class="bottom-two">
      <div>
        <app-carpetas-add  (messageEvent)="receiveMessage($event)"></app-carpetas-add>
      </div>
      <div>
        <button class="buttonnn button2"  (click)="goToConsultas(project)">Consultas</button>
      </div>
      <div>
        <app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)"></app-upload>
      </div>
    </div>
  </div>
</div>


<!-- /////////////////////////////////////////////////////////////// -->
<h1 class="display-5 font-weight-normal" style="text-align: center;">Tu Workspace</h1>
<p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
<hr>
<div class="container">
    <ul>
      <li *ngFor="let carpeta of carpetas">
        <a>
            {{carpeta.nombre}}
        </a>
    </li>

        <li *ngFor="let file of files">
            <a>
                {{file.nombreDocumento}}
                <app-download [disabled]="showProgress" [fileName]="file.nombreDocumento" [id]="file.idDocumento" (downloadStatus)="downloadStatus($event)"></app-download>
            </a>
        </li>

    </ul>
</div>




